:root{
    --primero: #D9F2E3;
    --segundo: #0D0D0D;
    --tercero: rgb(98, 32, 97);
    --bordes: rgba(255, 255, 255, 0.66);
}
*{
    margin: 0rem;
    padding: 0rem;
}
.perfil, .educacion, .contHabilidades, .formulario{
    border-bottom: 0.3rem solid var(--primero);
    width: 30rem;
}
body
{
    width: 100vw;
    background: radial-gradient(circle, rgba(123,34,121,1) 0%, rgba(25,25,55,1) 100%);

}
.header-home{
    margin: 2rem;
    width: 95%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items:center;
    border: solid 0.2rem white;
    border-radius: 1.2rem;
    background-color: rgba(119, 54, 118, 0.8) ;
}
.main-home{
    width: 100vw;
    color: var(--primero);
}
.footer-home{
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primero);
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    & .contFooter{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.allInfo{
    width: 90vw;
    margin: 0rem 3.5rem 0rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio{
    border-radius: 50%;
    border: 0.2rem solid #b0dec3;
}
/* estilos barra nav */
nav{
    width: 95%;
    margin: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>.ul-menu{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:space-around;
    font-size: large;
    &.navbutton{
        background-color: rgba(255, 255, 255, 0);
        border: 0rem;
    }
    & .navbutton> a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        color: var(--primero);
        letter-spacing: 0.2rem;
        padding: 0.5rem;
        font-weight: 600;
    }
}
nav>.ul-menu>.navbutton>a:hover, nav>.ul-menu>.navbutton>a:focus{
    box-shadow:  0 0 0.7rem var(--primero), 0 0 0.7rem var(--primero), 0 0 0.5rem var(--primero);
    border-radius: 0.7rem;
    transition: all 500ms;
}

/* configuración iconos dia, noche */
.dia, .noche{
    cursor: pointer;
    filter: invert(1);
    padding-bottom: 0.5rem;
}
.dia:hover, .noche:hover{
    scale: 1.2;
}

.theme{
    padding-left: 1.2rem;
    display: flex;
    justify-content: flex-end;
}
.red{
    filter: invert();
}

/* estilos del formulario */
.form{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.correo{ 
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem;
}
.contmail{
    width: 70rem;
    height: 7rem;
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 32rem;
    height: 3rem;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--primero);
}
.textarea{
    width: 67rem;
    height: 4rem;
    border-radius: 1rem;
    margin: 0.6rem 0rem 2.1rem 0rem;
    background-color: var(--primero);
}
.titulos{
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.input::placeholder{
    color: gray;
    opacity: 0.9;
}
.btnEnviar{
    width: 25rem;
    height: 2.8rem;
    margin-top: 0.5rem;
    background-color: var(--primero);
    border-radius:0.7rem;
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.btnEnviar:hover{
    box-shadow: 0 0 0.7rem var(--primero), 0 0 0.7rem var(--primero);
    scale: 1.1;
    transition: 500ms;
    color: rgb(3, 2, 3);
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

/* estilo offcanvas */
.colorOff{
    background-color:rgb(73, 34, 72)!important;
}
.offTitle{
    color:var(--primero) ;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.contImg> a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primero);
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    color: var(--segundo)!important;
    width: 10rem;
    font-weight: 900;
    background-color:var(--primero)!important;
    border: 0.1rem solid var(--segundo)!important;
    font-family: 'Times New Roman', Times, serif;
}
.btn:hover{
    box-shadow:  0 0 0.7rem var(--primero), 0 0 0.7rem var(--primero);
    scale: 1.1;
    transition: 500ms;
}

/* Media Queries*/

@media screen and (max-width: 800px){

    .navbutton{
        display: none;
    }
    .perfil{
        display: flex;
        flex-direction: column;
    }
    .allInfo{
        margin: 0rem 3.5rem 0rem 2rem;
    }
    .header-home{
        margin: 0.6rem;
    }
    .form{
        display: flex;
        flex-direction: column;
        height: 72vh;
    }
    .contmail{
        display: flex;
        flex-direction: column; 
        height: 7;
        margin-bottom: 6rem;
    }
    .textarea{
        width: 32rem;
        height: 5rem;
        border-radius: 1rem;
        margin: 0.6rem 0rem 2.1rem 0rem;
        background-color: var(--primero);
    }
    .btnEnviar{
        width: 32rem;
    }
}