:root{
    --primero: #D9F2E3;
    --segundo: #0d0d0dc1;
    --tercero: rgb(98, 32, 97);
    --bordes: rgba(255, 255, 255, 0.66);
    --cuarto:rgb(198,155,155);
}
*{
    margin: 0px;
    padding: 0px;
}
.perfil, .educacion, .contHabilidades, .formulario{
    border-bottom: 2px solid black;
    width: 100%;
}
body
{
    width: 100%;
}
.header-home, .footer-home, .main-home{
background-color: wheat;
}
.header-home{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main-home{
    width: 99vw;
}
.footer-home{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--segundo);
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.allInfo{
    width: 90vw;
    margin: 0px 50px 0px 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio{
    border-radius: 50%;
    border: 2px solid #020202;
}
/* estilos barra nav */
nav{
    width: 95%;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.flotante{
        border: 2px solid black;
        border-radius: 20px;
        background-color: rgb(232, 198, 136);
    }
}
nav>.ul-menu{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: large;
    
     & .navbutton{
        background-color: rgba(255, 255, 255, 0);
        border: 0rem;
    }
    & .navbutton> a{
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;
        color: var(--segundo);
        letter-spacing: 2px;
        padding: 0.5rem;
        font-weight: 600;
    }
}
nav>.ul-menu>.navbutton>a:hover, nav>.ul-menu>.navbutton>a:focus{
    background-color: rgb(60, 52, 52);
    color: white;
    border-radius: 8px;
    transition: 1s;
}

/* configuración iconos dia, noche */
.dia, .noche{
    cursor: pointer;
    padding-bottom: 8px;
}
.dia:hover, .noche:hover{
    scale: 1.2;
}

.theme{
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
}

/* estilos del formulario */
.correo{
    font-family: 'Times New Roman', Times, serif;
}
.formulario{
    margin-top: 30px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 93%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    height:30%;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
.textarea{
    width: 95%;
    height:15%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px 0px 35px 0px;
    background-color: white;
}
.titulos{
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.input{
    width: 90%;
    height: 100%;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    background-color:white;
}
.input::placeholder{
    color: rgb(119, 117, 117);
    opacity: 0.5;
}
.btnEnviar{
    width: 400px;
    height:45px;
    color: rgb(5, 5, 5);
    background-color:rgb(236, 229, 167);
    border: 2px solid black;
    border-radius:10px;
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.btnEnviar:hover{
    scale: 1.05;
    color: rgb(8, 8, 8);
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}
/* estilo offcanvas */
.colorOff{
    background-color:var(--cuarto)!important;
}
.offTitle{
    color:var(--segundo);
    text-transform: uppercase;
}
.contImg> a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--segundo);
    font-weight: 600;
}
.btn{
    border: 2px solid black!important;
    color: #0D0D0D !important;
    font-weight: 900;
    background-color:rgb(236, 229, 167)!important;
}
.btn:hover{
    scale: 1.2;
    transition: 1s;
}